.hero {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: end;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;

    .header-heading {
      margin: 0;
      font-size: 14rem;
      font-weight: 600;
      line-height: 0.73;

      @media screen and (max-width: 1440px) {
        font-size: 16vw;
      }
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
    width: 42%;

    @media screen and (max-width: 768px) {
      padding: 2rem;
      position: absolute;
      width: auto;
      z-index: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
      padding: 2rem 2rem 10rem;

      .content-heading {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.45;
        margin: 0;

        @media screen and (max-width: 768px) {
          color: var(--color-white);
        }
      }
    }
  }

  .hero-image {
    display: flex;
    overflow: hidden;
    width: 58%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .image {
      width: 100%;
    }
  }
}
