.main {
  display: flex;
  flex-direction: column;
  gap: 184px;
  max-width: 1440px;
  padding: 5rem 5rem 6.75rem;
  width: 100%;

  .placeholder {
    background-color: var(--color-grey);
    border-radius: 0.5rem;
    height: 744px; /* hardcoded for now */
    width: 100%;
  }
}
